In [2]:
     import pandas as pd
     import numpy as np

     np.random.seed(0)  # For reproducibility
     num_students = 100

     data = {
         'Student ID': range(1, num_students + 1),
         'Name': [f'Student {i}' for i in range(1, num_students + 1)],
         'Age': np.random.randint(12, 18, size=num_students),
         'Grade Level': np.random.choice(['7th', '8th', '9th', '10th', '11th', '12th'], num_students),
         'Math Score': np.random.normal(75, 10, size=num_students).clip(0, 100),
         'English Score': np.random.normal(70, 15, size=num_students).clip(0, 100),
         'Science Score': np.random.normal(80, 5, size=num_students).clip(0, 100),
         'Agric Score' : np.random.normal(75, 10, size=num_students).clip(0, 100)
     }

     df = pd.DataFrame(data)
     print(df.head(10))

   Student ID        Name  Age Grade Level  Math Score  English Score  \
0           1   Student 1   16         8th   65.077425      84.736323
1           2   Student 2   17         9th   85.112853      52.285737
2           3   Student 3   12        11th   89.004401      71.349157
3           4   Student 4   15         9th   68.450083      59.406326
4           5   Student 5   15         7th   72.442093      70.783375
5           6   Student 6   15        12th   67.856144      49.876313
6           7   Student 7   13        10th   69.991612      90.744135
7           8   Student 8   15         9th   75.556453      75.803693
8           9   Student 9   17         9th   70.110382      50.013202
9          10  Student 10   14        12th   71.200776      77.557262

   Science Score  Agric Score
0      81.243249    82.266191
1      76.226347    95.888576
2      88.497157    67.928520
3      78.036267    70.429845
4      75.687524    78.695055
5      85.412280    84.748187
6      79.251089    71.314865
7      74.926038    56.439534
8      83.444763    75.502134
9      68.294458    70.888222

In [3]:
df_Agric Score.sum()

7458.999930376083

In [8]:
df.Age.value_counts()

15    20
12    19
16    18
13    18
17    14
14    11
Name: Age, dtype: int64

In [9]:
df.Level.value_counts()

AttributeError: 'DataFrame' object has no attribute 'Level'

In [10]:
pip install faker

Collecting faker
  Downloading Faker-30.1.0-py3-none-any.whl (1.8 MB)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\hp\anaconda3me\lib\site-packages (from faker) (2.8.2)
Requirement already satisfied: typing-extensions in c:\users\hp\anaconda3me\lib\site-packages (from faker) (4.12.2)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3me\lib\site-packages (from python-dateutil>=2.4->faker) (1.16.0)
Installing collected packages: faker
Successfully installed faker-30.1.0
Note: you may need to restart the kernel to use updated packages.

In [11]:
from faker import Faker

In [12]:
fake = Faker()

In [13]:
fake.name()

'Vanessa Berry'

In [14]:
fake.address()

'Unit 5274 Box 9929\nDPO AA 45079'

In [15]:
fake.street_address()

'32788 Carney Plain Suite 765'

In [20]:
fake.date_of_birth()

datetime.date(1987, 1, 12)

In [22]:
df = pd.DataFrame(
    [
        {
            "name": fake.name(),
            "address": fake.address(),
            "birthday": fake.date_of_birth(),
            "email" : fake.email(),
        }
        
        for x in range(100)
    ]

)

df.head(100)

,name,address,birthday,email
0,Kelly Lopez,"1815 Haney Common\nClaytonview, ID 10653",2012-10-28,stevenflores@example.org
1,Maria Hughes,"64698 Donna Spring Suite 596\nLake Robert, MH ...",1933-04-16,sanderszachary@example.org
2,Phillip Cook,"112 Higgins Causeway Apt. 111\nMartinbury, WI ...",1919-08-01,daniellee@example.org
3,Michelle Watson,"426 Patrick Wall\nNorth Bryanmouth, WI 48229",1968-11-25,kim53@example.com
4,Sergio Bryan,"29905 Olsen Key\nWelchshire, KY 18484",1978-11-06,barkerkatie@example.org
...,...,...,...,...
95,Trevor Wood,"4991 Cannon Common\nNorth Melissachester, RI 8...",2016-12-23,dawn82@example.com
96,Dr. Jodi Mason,"23030 Smith Dam Apt. 737\nTerryview, MA 29304",1948-05-29,xlopez@example.org
97,Nicholas King,"PSC 4892, Box 5210\nAPO AA 05193",1931-07-25,hwall@example.net
98,Robert Gomez,"5034 Miller Dam Apt. 603\nSouth Steven, GA 68229",1994-03-06,moralesdale@example.com
99,Amy Long,"901 Deanna Flat Suite 403\nWilliamsport, RI 24847",1923-05-06,eugene87@example.org